[2019-11-16 16:35] glitsj16 opened #4 "Cache not working"
Hi, I'm currently testing fdns as my main DNS rsolver. I made a systemd service file to start fdns at boot:

[code]

Everything seems to work great, except `caching`. Using _fdns --monitor_ I never see any changes in the cached items count. Running with _--debug_ didn't throw any light on this behavior. For the record, the OS is Arch Linux. Manually built fdns from git and I'm assuming/expecting r

[2019-11-20 17:09] netblue30 commented on #4
I sent you an invite. Can you merge in the service file in etc directory (https://github.com/netblue30/fdns/tree/master/etc). I'll install it as default on make install. Thanks.

Interesting, the numbers (requests, cached) don't seem to increment in the monitor. On Wireshark, the requests seem to be going out over HTTPS/TLS. I am comparing it with ping, where ping works fine and dig doesn't. Cachi

[2019-12-06 21:05] rusty-snake opened #8 "[Q] Default for AAAA queries"
manpage:

Allow all DNS query types; by default only A and AAA are allowed.

Allow AAAA requests.

So what is the default for `AAAA` queries?

[2019-12-11 13:15] netblue30 commented on #8
Thanks, fixed in https://github.com/netblue30/fdns/commit/6f1a8f33235031f18547429d1877d8419fd227cb

[2019-12-11 13:15] #8 closed

[2019-12-22 00:39] glitsj16 opened #10 "Regression with 'speed-up, strict DNS parsing on lan packets' commit"
Hi, I played around some more today with fdns built from git master. I'm seeing loads of consecutive errors with https://github.com/netblue30/fdns/commit/4f5798b8776500ad3afebf1d0174bbe79b922dea:

[code]

Although DNS resolution is working, something seems to be off (the keep-alive is affected?). You can see logs from both fdns [with](https://gist.github.com/glitsj16/ef6b8e4e65dc41dd35974a7e828c55

[2019-12-22 01:05] glitsj16 commented on #10
**FOLLOW-UP**: on a whim I double-checked my `/etc/resolv.conf` and guess what, I had a few options in there that badly interfered with fdns (leftovers from earlier unbound/dnscrypt-proxy usage):

[code]

As soon as I dropped the second line things started to flow as expected! The monitor now reports cached items as well, so I'll add a note to #4 as well soonish. Perhaps a note somewhere to not us

[2019-12-22 01:15] glitsj16 commented on #4
Looks like the issue was on my side after all. While trying to debug #10 I decided to reset my `/etc/resolv.conf` (only retaining 'nameserver 127.0.0.1'). After doing that `fdns --monitor` happily started to report cached items. Lesson learned: _don't use esoteric options in /etc/resolv.conf while using fdns_.

I'll leave this open for a while to give other people ample opportunity to comment, but

[2019-12-24 01:00] netblue30 commented on #4
Let me try again, I think I saw something strange with dig.

[2019-12-24 01:01] netblue30 commented on #10
Sure, no problem.

[2019-12-24 01:01] #10 closed

[2019-12-25 16:22] rusty-snake opened #11 "Error: fdns worker process 1 killed by seccomp - syscall 32 (dup)"
After suspend to RAM and reconnecting:
[code]
OS: Fedora 31
fdns: 138f6af

[2019-12-25 19:18] netblue30 commented on #11
Add it to etc/worker.seccomp.

It is coming probably from openssl library. I think we will see some more - usually from  Fedrora and Arch where they have newer versions of openssl.

[2019-12-26 08:56] #11 closed

[2019-12-30 00:03] glitsj16 opened #13 "Option to disable ipv6"
During prolonged use of `fdns --monitor` the stats view it offers gets polluted rather quickly when ipv6 is not enabled on your machine. It's filled with `(ipv6) dropped` entrees and the high rate of its dropped counter might confuse the user into thinking something is wrong. Would it be possible to have a knob to disable ipv6?

[2019-12-30 00:13] glitsj16 opened #14 "stats don't get cleared after shutting down the systemd service"
Fdns stats in `/dev/shm/fdns-stats` stay lingering on the system after stopping the systemd service. I suspect this also affects users who don't use the systemd unit. This has two side-effects that I find confusing:

- when `fdns --monitor` is running, stopping the fdns systemd service doesn't terminate `fdns --monitor` output (nor is there any indication the service is in fact dead);
- when the f

[2019-12-30 02:37] glitsj16 opened #15 "Functional state of the fdns.service"
After some very nice work by @rusty-snake the fdns systemd service unit got much improved hardening (see https://github.com/netblue30/fdns/commit/f3ec6691df5b44c214721f010572af4c024a778e, https://github.com/netblue30/fdns/commit/eb5cd4b441f4294ad41eceb831f65b52d1a2efb2, https://github.com/netblue30/fdns/commit/285de74c3ff541c3f424d46c047e04fe31f40c0f and https://github.com/netblue30/fdns/commit/4b

[2019-12-30 11:38] rusty-snake commented on #15
@glitsj16 first thanks for so much testing. :1st_place_medal:

`Type=simple` ~`--daemonize`~ sounds good to me.
  - systemd supports it and prefer it (Type=simple is the default).
  - We can simplify the log all queries block

---

[code]

fdns needs `/run/fdns` writeable, right? @netblue30 for what is it? It is an empty dir on my system.

@glitsj16 I'm currently hardening all my systemd services.

[2019-12-30 13:52] netblue30 commented on #13
I've noticed it, quite annoying. Let's try this: I'll disable all counts and monitor info for ipv6 (received, dropped, etc.) if ipv6 is disabled, and only enable all of them if the user specifically requests --ipv6.

[2019-12-30 15:27] glitsj16 commented on #15
@rusty-snake Correct. Let's wait for @netblue30's response to incorporate your additional hardening. In other words, I've seen your suggestions, look OK to me :+1: .

[2019-12-30 16:34] rusty-snake commented on #15
@glitsj16 can your confirm that this works.
[code]
IDK if the `ReadWritePaths` is necessary.

[2019-12-30 16:58] rusty-snake commented on #15
I did one round strace, the following paths in /etc are also accessed, to you thing we need any of them?
[code]

[2019-12-30 17:10] rusty-snake opened #16 "queries are logged in the journal"
After 3a54e19f288662adaf16a4887f2955a51c1be9a5 all resolved hostnames are logged in the journal. This has two drawback:
 - spamming of the journal
 - privacy unfriendly

We should stop this by default.

Solution

1. fdns is quite by default, unless `--verbose` is specified.
Normal fdns output woud be the following. (Alll expect `github.com, encrypted` and so on)
[code]
2. `--quite`/`--silent` fdns

[2019-12-30 20:47] glitsj16 commented on #15
@rusty-snake For compatibility with older systemd versions that don't support the `strict` value, I'd suggest going for

[code]

That seems to work just fine, nice find. Feel free to put that in.

I'm not sure we need those, but I didn't do any testing to speak of without them. I'm still having issues with `dig` cfr. https://github.com/netblue30/fdns/issues/4 that I'm trying to debug.

[2019-12-30 22:04] glitsj16 commented on #16
@rusty-snake Those are new options (--nolog, --quiet, --verbose ...) you're proposing, correct? Until those are available we could control logging via regular systemd options in fdns.service. Something like the below perhaps?

LOGGING NOTES:
    [IMPORTANT] only enable one of the below options
persistency modes (good for debugging):
    StandardOutput=journal
    StandardOutput=append:/var/log/fdn

[2019-12-30 22:14] rusty-snake commented on #4
I use a script to fetch remote from repos for all my local git repos, if I run this script fdns gives me the following logs (ignoring gitlab queries).

`fdns --workers=1`
[code]

`fdns --workers=5`
[code]

[2019-12-30 22:35] rusty-snake commented on #15
@glitsj16 `ProtectSystem=full` conflicts with "private-etc".

[2019-12-30 22:41] rusty-snake commented on #16
Yes

Uncommenting line 20 works.
https://github.com/netblue30/fdns/blob/59eebdcd05fbdca0dae4d0ec8d2ccab953785696/etc/fdns.service#L20

[2019-12-31 01:09] glitsj16 commented on #15
@rusty-snake Too bad, supporting older systemd versions was going too break sooner or later. I've lost count how many combinations I've been testing lately. Feel free to make the changes you need to get it in good working order. I'll be taking a few days off but will pick-up testing Ubuntu 16.04's older systemd again later on, and can always add notes if it needs something besides the defaults. En

[2019-12-31 14:50] startx2017 opened #17 "bugs/enhancements"
* I'll take over https://github.com/netblue30/fdns/issues/13 - easy fix!
* I'll add support for average time measurements for DoH request/response and some other minor things, maybe some fixes for Firetools in order to support the measurements there also
* we need to disable dnswarden servers, they are moving to a different set of addresses - https://github.com/bhanupratapys/dnswarden - in this mo

[2019-12-31 14:53] startx2017 commented on #17
I forgot: Happy New Year!

[2020-01-03 16:24] bortzmeyer opened #18 "Yet another DoH resolver"
In your Server list, you may want to add https://doh.bortzmeyer.fr

The no-logging policy here (in french)  :  https://doh.bortzmeyer.fr/policy

[2020-01-05 16:34] startx2017 commented on #14
Fixed in fdns, need to port it to firetools. There is an up to 10s delay until the monitor detects fdns went down.

[2020-01-05 16:39] startx2017 commented on #17
done!

[2020-01-05 16:39] #17 closed

[2020-01-05 16:39] startx2017 commented on #13
Closed for now!

[2020-01-05 16:46] rusty-snake commented on #15
`--proxy-addr=` is broken in the systemd-unit, but not if started on the command line. @glitsj16 do you use `--proxy-addr=` / is you Arch error with RestrictAddressFamilies something like "failed check address family in net.c" (can't find the error log).

[2020-01-05 17:02] startx2017 commented on #18
Thank you! I put a link to your blog as a description - https://www.bortzmeyer.org/doh-mon-resolveur.html. If you want, we can change it.

[2020-01-05 17:07] startx2017 commented on #18
Sorry, replaced it with a better one: https://www.bortzmeyer.org/doh-bortzmeyer-fr-policy.html

[2020-01-05 17:20] bortzmeyer commented on #18
Yes, the fist link was the technical description, most users will probably be more interested in the new one, describing the policy.

I suggest there is a bug in etc/servers, the URL for the service is https://doh.bortzmeyer.fr/, not https://doh.bortzmeyer.fr/dns-query (although a bug in dnsdist makes the second work as well but it's temporary). https://github.com/PowerDNS/pdns/issues/8573

[2020-01-05 17:23] bortzmeyer opened #20 "No IPv6 addresses in etc/servers?"
The list of servers has only IPv4 addresses, even for the servers that do have IPv6.

[2020-01-05 17:43] rusty-snake commented on #18
@bortzmeyer c515983

[2020-01-05 18:17] glitsj16 commented on #15
@rusty-snake

On Arch I have `ExecStart=/usr/bin/fdns --proxy-addr=127.0.0.1 --server=foo` and that is working fine. I'll check my Ubuntu 16.04 LTS machine later, that uses the exact same ExecStart=...

I see this in /tmp/fdns.log when enabling `StandardOutput=append:/tmp/fdns.log`:

Error getifaddrs: net.c:54 net_check_proxy_addr: Address family not supported by protocol

[2020-01-05 18:47] rusty-snake commented on #15
@glitsj16 I found it. `RestrictAddressFamilies` is not broken on Arch, it is broken if `--proxy-addr=` is used. We need to change the note.

BTW: Is `AF_INET6` in `RestrictAddressFamilies` required?
(#20; `grep "AF_INET6" src/fdns/*.c` = nothing)

[2020-01-05 18:47] glitsj16 commented on #14
@startx2017 Thanks for the work on this. The monitor now makes much more sense. But /dev/shm/fdns.stats **still stays present after fdns stop** (at least on Arch Linux, haven't tested Ubuntu yet). Maybe that's the 'new' intended behaviour?.  As stated above it can be easily cleaned up in the systemd service via a simple ExecStopPost command. But users that don't use the systemd service will have t

[2020-01-05 18:54] glitsj16 commented on #15
@rusty-snake Confirmed. `--proxy-addr-any` does work.

[2020-01-05 19:26] netblue30 commented on #18
Let's track this bug for now. We have quite a umber of dnsdist servers on the list.

https://github.com/PowerDNS/pdns/issues/8573

[2020-01-05 19:28] netblue30 commented on #20
Yes, I plan to bring in support for DNS over IPv6 transport.

[2020-01-05 19:36] netblue30 commented on #16
OK, let's see if I got it right:

* normal ops: print on screen, only errors in the log - this is what we have today. I did the testing on the regular syslog (/var/log/syslog on Debian/Ubuntu), didn't try journald
* --nolog: nothing goes in the log
* --quiet: nothing goes on the screen
* --verbose: everything goes on both the screen and in the log

[2020-01-05 19:42] netblue30 commented on #14
If the user does a "sudo pkill fdns" we get a chance to remove the file by intercepting the signal before the process gets killed. However if the kernel decides to kill the process (equivelent to kill -9), the process will just be killed without receiving a signal first.

I'll bring in the signal part, but let's put in ExecStopPost also, is like a best effort.

[2020-01-05 19:46] rusty-snake commented on #16
@netblue30 that only proposals. The main issue is that since 3a54e19 all `github.com, encrypted` messages are in the journal.

[2020-01-05 20:06] glitsj16 commented on #14
Done in https://github.com/netblue30/fdns/commit/bd89850302fad7c5b75e339d1f11f0abc403e858.

[2020-01-05 20:23] glitsj16 commented on #15
UPDATE: added (crude) `ExecStopPost` command to remove the stats file after stopping the service (as [suggested in #14 here](https://github.com/netblue30/fdns/issues/14#issuecomment-570940958)).

[2020-01-07 04:34] glitsj16 commented on #13
Looks much better now, but I _still see a high count of dropped requests_ in the monitor. Just a FYI, as I'm used to it by now and I assume these are mostly dropped ipv6 requests. Wanted to bring this to the attention of @startx2017 too now he has taken over #13.

[code]

[2020-01-11 03:51] luckypoem opened #22 "libseccomp error"
hi.

on my mac.
git clone https://github.com/netblue30/fdns
cd fdns
./configure --prefix=/usr
it shows:
...
checking for main in -lseccomp... no
configure: error: *** libseccomp not installed ***
yudeMacBook-Air:fdns brite$ brew install libseccomp
Updating Homebrew...
^C
Error: No available formula with the name "libseccomp"
==> Searching for a previously deleted formula (in the last month)...
War

[2020-01-11 06:10] glitsj16 commented on #22
[seccomp](https://en.wikipedia.org/wiki/Seccomp) is a Linux specific technology that requires the Linux kernel. You might be able to use Docker on OS X to get fdns (untested). Perhaps you could look into [dnscrypt-proxy](https://github.com/DNSCrypt/dnscrypt-proxy), which has native support for OS X.

[2020-01-14 01:47] githubber-spec opened #23 "strange auto logout | session kick = back in login screen [ubuntu bionic]"
within a virtual machine i often like 10-30% get a kick out of the login session of ubuntu bionic and im back in the login screen. appeared most of the times when there was a issue with the internet connection.

never reaches the point of ssl connection opened  before being kicked or the filters

so dont reaches the point of
fdns starting
connecting to adguard server
listening on 127.1.1.1

a few

[2020-01-18 00:06] netblue30 commented on #23
Thanks for reporting it. The fix is in git.

I was able to reproduce it on a real machine. It happens if there is poor or no network connectivity, and the proxy fails to connect to the provider's server. fnds ends up killing X11 - the ugliest bug I've seen in ages! So it will kick you out and bring you to the login screen (X11 runs as regular user, so you can kill it like any other program).

Than

[2020-01-18 00:17] netblue30 commented on #13
Yes, something wrong there, the count still goes up - it is probably an ipv6 count. I'll take a look.

[2020-01-31 21:14] glitsj16 commented on #13
Confirming https://github.com/glitsj16/fdns/commit/39df8bde1e87934c220a47c47c87093fdf4e06b7 fixed the high drop count. Looking really impressive now with new servers flowing in.

Cheers!

[2020-01-31 21:14] #13 closed

[2020-02-01 15:59] rusty-snake opened #29 "first-party trackers (CNAME Cloaking)"
#### current situation

First-party-trackers are blocked by the [fp-trackers](https://github.com/netblue30/fdns/blob/39df8bde1e87934c220a47c47c87093fdf4e06b7/etc/fp-trackers) list. (Huge list)

#### what I have in mind

`CNAME`s are matched against the [nextdns list](https://github.com/nextdns/cname-cloaking-blocklist/blob/master/domains).

[2020-02-04 19:20] netblue30 commented on #29
Done! Most of them were however in tracker list, not in fp-tracker list, so I had to move them around.

It works this way:
1. go to https://trackingthetrackers.com/
2. enter weather.com and press analyze
3. it comes back with
[code]
We should mark as fp-tracker any of the two domains,
![fdns-monitor](https://user-images.githubusercontent.com/13711990/73778572-717e8580-4759-11ea-874d-93f613e0c886.p

[2020-02-09 15:55] rusty-snake commented on #29
IDK if you misunderstand me or I did not see the changes. My idea is to drop the fp-tracker list in its current form and replacing it with the from nextdns.

Example:

[code]

If 9.9.9.9 would be 127.1.1.1 the answer would be 127.0.0.1, because fdns has matched the request send to it against fp-trackers (and others) and found prophet.heise.de in this list.
With my proposal: 127.0.0.1 will be retur

[2020-03-02 13:00] #23 closed

[2020-03-02 13:00] #22 closed

[2020-03-02 13:01] netblue30 commented on #4
closed for now

[2020-03-02 13:01] #4 closed

[2020-03-02 20:02] G-i-o opened #33 "Mispelled Link"
Hello,

In your guides,  there's a spelling mistake in a link:

**git clone https://gihub.com/netblue30/fdns**

In the above link notice "gihub" instead of "github".

It's silly but drives you crazy if not spotted and all articles/guides on the Net seem to have picked the mispelled link.

Thank You!

[2020-03-02 21:05] glitsj16 commented on #33
Thanks for reporting, fixed now!

[2020-03-02 21:05] #33 closed

[2020-03-03 01:35] G-i-o commented on #33
Perfect. Thank YOU. ;-)

On 02/03/2020 22:05, glitsj16 -
notifications@github.com wrote:

[2020-03-04 12:41] sblighting opened #34 "Add --allow-local-doh option"
From @rusty-snake in https://github.com/netblue30/fdns/pull/32

The ESNI implementation of firefox requires ATM that firefox resolves DNs itself suing its own DoH implementation. See the bugzilla ticket [1]. Some users might want this. Therefore it would be help full to have an --allow-local-doh options.

ESNI references:
about:config: network.security.esni.enabled
https://bugzilla.mozilla.org/sho

[2020-03-04 13:08] rusty-snake commented on #34
Typo (from me), of curse we need only one option~s~.

[2020-03-06 15:33] #15 closed

[2020-03-06 15:38] rusty-snake opened #35 "whitelist for domain names"
A whitelist of allowed domain names would be very nice for use with single firejail sandboxes.

Example:
[code]

Maybe it is better to put the whitelist in a file.

[2020-03-13 22:09] startx2017 commented on #35
Do you mean we should allow only the domains in the whitelist and drop all other? I would call it --whitelist:
[code]

[2020-03-13 22:11] startx2017 commented on #34
Did some testing, looks fine.

[2020-03-13 22:11] #34 closed

[2020-03-14 08:28] rusty-snake commented on #35
Yes, only whitelisted domain names are resolved.

[2020-03-20 14:22] rusty-snake opened #36 "more quad9 addresses"
quad9 has some more addresses, see [1] and [2]. Do we want to these addresses?

[1]: <https://www.quad9.net/faq/#Does_Quad9_implement_DNSSEC>
[2]: <https://www.quad9.net/faq/#Is_there_a_service_that_Quad9_offers_that_does_not_have_the_blocklist_or_other_security>

[2020-03-20 14:57] netblue30 commented on #36
Yes, add them. I didn't put them originally because as we pick servers at random there were too many cloudflare/quad9 on the list. But now we have enough of the others.

[2020-03-20 15:41] netblue30 commented on #29
All done. So we look for CNAME entries and drop them if there are for the . I left the original fp_tracker list in. The lookup in the list is very fast, about 10 microseconds on an old computer. We have about 60k entries total (with adblocker etc.).

The list is hardcoded for now, we can split it up in a file in etc directory later.

https://github.com/netblue30/fdns/blob/master/src/fdns/filter.c#

[2020-03-20 15:41] #29 closed

[2020-03-27 15:43] glitsj16 opened #37 "fdns resolver processes getting killed by seccomp - syscall 230 (clock_nanosleep)"
Issue noticed today on Arch with fdns from git master. I guess this is due to the recently upgraded [openssl](https://www.archlinux.org/packages/core/x86_64/openssl/) package.

[code]

I'll make a PR to add `clock_nanosleep` to etc/resolvers.seccomp.

[2020-03-27 16:16] #37 closed

[2020-04-05 16:16] #36 closed

[2020-04-07 07:39] rusty-snake opened #39 "support for multiple fdns instances"
It would be greate if we can run multiple instances of fdns at the same time. Especially for #35 is this needed.

[2020-04-08 17:10] startx2017 commented on #35
--whitelist is done, I'll look into --whitelist-filename

[2020-04-10 16:49] netblue30 commented on #39
Long story short:
[code]
BTW, I've modified the apparmor profile, you'll have to reload it:
[code]

[2020-04-10 17:09] rusty-snake commented on #39
since I have SELinux ...

[2020-05-14 18:13] netblue30 commented on #39
cool! closing down

[2020-05-14 18:13] #39 closed

[2020-05-14 18:14] netblue30 commented on #35
I have enabled the code from @startx2017 - yes, it was an AppArmor problem, we were blacklisting the user file!

[2020-05-14 18:14] #35 closed

[2020-06-03 21:51] glitsj16 opened #40 "fdns --monitor - Waiting for fdns to start..."
After the introduction of the cashpack library I have experienced build and run issues with fdns build from git on Arch Linux. It's been a bit more complicated than usual to do proper testing due to several factors being involved, and I'm not 100% certain that my current build (which has the run issues) is causing these issues or something I messed-up during build. Nonetheless, I wanted to throw i

[2020-06-05 01:06] glitsj16 commented on #40
UPDATE:

Commit https://github.com/netblue30/fdns/commit/83bfa4b2db9930c31daa631c13b59e9274073ee6 fixed all the build issues mentioned above. GCC-10 on Arch Linux doesn't need anything special anymore and the vim/go dependencies are no longer needed now the cashpack library introduction has been refactored.

I still see the same `Error LANrx: invalid DNS section counts: 1 0 0 1, dropped` lines in

[2020-06-05 11:45] netblue30 commented on #40
Yes, the big one was fixed - took some time to update my Arch system. They used to bring in all kind of tools and libraries for their testing, so I removed them and used our make system.

Error LANrx: invalid DNS section counts: 1 0 0 1:

It is generated by the DNS firewall, the request is dropped. What application are you using to send this request? The only one I know is dig.

[2020-06-05 12:23] glitsj16 commented on #40
That is indeed the case, I used dig. Will do some more extensive testing, as I noticed fdns --monitor was also broken with '--proxy-addr-any --server=foo'.

[2020-06-05 15:34] glitsj16 commented on #40
FOLLOW-UP:

I have some scripts that called `dig`, mainly for IP checking when using VPN. I changed those to use `curl` now.

Did another round of testing with the latest git master code. Name resolution is working again for me, but **monitoring** (while using the systemd unit) keeps being somewhat unpredictable. Not a big issue for me, as I use `StandardOutput=append:/tmp/fdns.log` to keep a clos

[2020-06-07 12:25] netsfirefan opened #41 "Arch Support + Entry within Community Repo"
I really love this project and its the best dns over https build i have seen so far. dnscrypt-proxy is litteraly nothing compared with the worked you delievered. So its very sad that every arch based distro is not able to use it. If there is anyway that i can get working on arch please let me know (im new to this distro so im sorry for not knowing)

makepkg
result in: Error PKGBuild does not exist

[2020-06-07 17:31] glitsj16 commented on #41
That's not the way Arch Linux works. You need to have a PKGBUILD file present in the dir where you run makepkg. See the Arch Wiki, it has all the details.

Usually a package gets into the Arch Linux (community) repository when a TU accepts it. That hasn't happened yet, and is not something we have any control over. But I will ask around in the Arch Linux community if there is interest in maintaini

[2020-06-07 17:38] Fred-Barclay commented on #41
@glitsj16 would you consider submit this to the AUR?

[2020-06-07 17:51] glitsj16 commented on #41
Hi @Fred-Barclay, I'll consider it. I'm on freenode #archlinux IRC right now discussing adoption. Will keep you updated on that.

[2020-06-13 12:01] netblue30 commented on #40
I think I've seen this problem also, I'll mark it as a bug.

[2020-06-13 12:11] netblue30 commented on #41
@netsfirefan thanks for your input. I'll make a list of enhancements:

* socks5 / proxychains support, maybe a way to plug into tor (?)
* /etc/hosts support
* documentation  - how to add new domains to blocklist (README.md, man page)

We'll have to document this also, or maybe to detect the user changes at install time and merge them(?) So far the only file not overwritten is /etc/fdns/host.

[2020-06-18 06:41] glitsj16 commented on #41
I just added [fdns](https://aur.archlinux.org/packages/fdns/) and [fdns-git](https://aur.archlinux.org/packages/fdns-git/) to the AUR.

[2020-07-30 17:41] glitsj16 opened #43 "Commit https://github.com/netblue30/fdns/commit/0fa2904e501608290bb36ad726bfce6d0e6341ca breaks build"
Recent commits seem to have broken build from git master. Bisecting points to https://github.com/netblue30/fdns/commit/0fa2904e501608290bb36ad726bfce6d0e6341ca as the breakage point:

[code]

[2020-07-31 19:08] Futureknows commented on #43
Same error on F32

[2020-07-31 22:01] glitsj16 commented on #43
@netblue30 Recent commit https://github.com/netblue30/fdns/commit/755eac5352ea962e8748eac3f6a86ea0ba08ee31 throws a different error this time:
[code]

[2020-08-01 15:21] netblue30 commented on #43
Thanks guys, actually I forgot to add a new .c file! Fixed on mainline.

[2020-08-01 16:03] glitsj16 commented on #43
All good again. Thanks @netblue30!

[2020-08-01 16:03] #43 closed

[2020-10-18 03:15] glitsj16 opened #44 "fdns fails to start on Arch Linux with apparmor"
The current apparmor profile doesn't take into account that on Arch Linux `/etc/ssl/certs/ca-certificates.crt` is a symlink to `/etc/ca-certificates/extracted/tls-ca-bundle.pem.` When auditd.service is enabled, this stops fdns from resolving.

[code]

I'm testing a fix that also enables users to create site-specific additions and overrides for 'usr.bin.fdns' in /etc/apparmor.d/local/usr.bin.fdns.

[2020-10-18 03:18] glitsj16 commented on #40
@netblue30 Any update on this?

[2020-10-19 23:20] netblue30 commented on #40
I did't see it lately. Do you still have it?

[2020-10-19 23:21] #44 closed

[2020-10-20 07:59] glitsj16 commented on #40
@netblue30 yes I still get the same stuff I mentioned in https://github.com/netblue30/fdns/issues/40#issuecomment-639568902. For the record, I use the below in a systemd service override file to run fdns:
[code]

To get around the 'Waiting for fdns to start.........' issue I need to explicitly call `fdns --monitor=127.0.0.1` to kick the monitor into gear. This might be a feature, but if so, we mig

[2020-10-22 15:00] netblue30 commented on #40
OK, this is a bug! By default --monitor without any IP address is looking for 127.1.1.1. I'll fix is so if there is only one instance of fdns in the system it will grab that specific one. I'll have to put the same fix in firetools.

[2020-10-22 16:53] netblue30 commented on #40
Fix is in. It is looking for 127.1.1.1, then for 127.0.0.1, than for any other addresses.

[2020-10-22 18:15] glitsj16 commented on #40
@netblue30 Great job. I can confirm the issue is fixed. Thanks for looking into it!

[2020-10-22 18:15] #40 closed

[2020-10-24 23:34] rampageX opened #47 "Always get "Error LANrx: invalid DNS section counts: 1 0 0 1, dropped" when using `dig`"
I test `fdns` on my VM debian 10. `fdns` build and run with no error, but when i test it with `dig`, it's always failed with error: "Error LANrx: invalid DNS section counts: 1 0 0 1, dropped"

Input:
dig @127.1.1.1 twitter.com

[code]

Log:

[code]

BTW: Can we manually specified the `listen ip:port` and fallback dns server's `IP:PORT`?

[2020-10-25 12:52] netblue30 commented on #47
Bug! Thanks for reporting it.

[2020-11-01 12:10] netblue30 commented on #47
I'll have to document it.

dig attaches to the query a DNS cookie in the "additional" section of the packet. We filter out and drop such requests, and we let through only regular queries generated by regular applications. We also drop anything else but A and AAAA requests, so most of the request options dig provides will be filtered out.

When using dig from behind fdns, send the query to a specif

[2020-11-01 18:39] rusty-snake opened #48 "make fedora patches superfluous"
ATM I've two patches for fedora in https://github.com/netblue30/fdns/tree/master/platform/fedora.

### disable-apparmor.patch

This one removes the `install` command from the Makefile which installs the AA profiles. This could simply make superfluous by a `./configure --disable-apparmor` (but I lack the autotools skills :sob: ).

### install-units-to-unitdir.patch

(on x86_64) Fedora uses `/usr/li

[2020-11-01 19:35] netblue30 commented on #48
The first one is in, I'll look at the second one.

[2020-11-01 20:16] netblue30 commented on #48
What if we install the unit file in /etc/systemd/system directory? This should work on any distro.

[2020-11-02 10:38] rusty-snake commented on #48
Technically it would work, but it wouldn't follow the guidelines.

https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Unit%20File%20Load%20Path

[2020-11-02 14:48] netblue30 commented on #48
Yes, is not such a good idea to mess up /etc/systemd/system. Let's go with this:
[code]

[2020-11-03 09:24] glitsj16 opened #49 "configure logic potentially breaks apparmor and systemd unit"
After a few recent commits (https://github.com/netblue30/fdns/commit/ab483585b3050ac8338ad27d3f6ab357ee9cf05d and https://github.com/netblue30/fdns/commit/318ee24ae32cb5898687333e52b6bb2ce18e3553) it dawned on me that our configure logic seems to _assume_ `--prefix=/usr` is present. If that prefix is absent (which is the default if not explicitly added when packaging), things start to break rather

[2020-11-03 10:54] rusty-snake commented on #48
Great. One correction: With "unitdir (the place where systemd-units are expected) is `/usr/lib/systemd`" my focus was on that it is not $(libdir)/systemd and I stripped the last part because there are units on other subdirs too. But Fedora uses `/usr/lib/systemd/system` for system service units too.

Wouldn't it make sense to query pkg-config in the Makefile or in configure?

[2020-11-04 18:29] netblue30 commented on #47
just to remember to document it!

[2020-11-04 18:33] netblue30 commented on #48
Fixed:
[code]
in configure.ac

pkg-config works only for the case when you ./configure --prefix=/usr.

[2020-11-04 18:35] netblue30 commented on #49
OK, for now we will document them. BTW, we have the same problem in Firejail with apparmor.

[2020-11-07 09:31] #48 closed

[2020-11-08 13:07] rusty-snake opened #50 "build failures"
[code]

[code]

[2020-11-08 15:43] #50 closed

[2020-11-08 15:43] netblue30 commented on #50
Fixed, thanks!

[2020-11-13 15:28] rusty-snake opened #51 "What's the best way to start fdns instances for firejail as a user?"
If want to use fdns together with `firejail --dns`, so that a sandbox has it's own resolver. You need to get root to start fdns. That's a bit annoying if you need to enter your PW and bad to script if you use sudo. So what can be done to do this automatically.

1. obvious: add a `NOPASSWD` rule to sudo. However you wound need to create new rules for every used `--withelist` argument because sudo h

[2020-11-15 04:03] glitsj16 commented on #51
Interesting topic. I do indeed think `polkit` might be your safest option. Something like the below might work (untested).

[code]

[2020-11-15 13:11] rusty-snake commented on #51
I'm need to read more about polkit. Anyway, here is my first attempt.

Actually a rule for pkexec in enough to execute `pkexec fdns --proxy-addr=127.70.74.68 --whitelist=github.com` without a password-prompt.

`/etc/polkit-1/rules.d/60-fdns.rules`:
[code]

NOTE: This does not work for Debian/Ubuntu because they still ship polkit 0.105 which uses PKLA-rules. Apparently they have some security conce

[2020-12-08 10:07] rusty-snake commented on #51
Ok, I go with polkit.

[code]

[code]

[2020-12-08 10:07] #51 closed

[2020-12-08 14:22] rusty-snake commented on #51
Wait, I can kill processes belonging to an other user.

[2020-12-08 14:28] rusty-snake opened #52 "blacklist for domain names"
opposite of #35.

Examples:

[code]

But there are hosts-files, aren't there? Yes, but they don't allow blacklists per instances (#39), only global.

[2020-12-08 17:47] glitsj16 commented on #52
Would be a nice feature indeed.

[2020-12-09 14:27] Archer2011 opened #53 "fdns and network namespaces"
Is it possible to use fdns and a network namespace?
I tried but it didn't work

[2020-12-09 14:32] rusty-snake commented on #53
You mean `ip netns exec foobar fdns`?

[2020-12-09 14:41] Archer2011 commented on #53
`sudo fdns`
`firejail --noprofile --net=wifi0 --dns=127.1.1.1 /usr/bin/firefox`

[2020-12-09 15:27] rusty-snake commented on #53
The new netns will have it's own loopback interface, so this don't work.

What you can do, is to create a new named-netns, run fdns in it and use `--netns`.

[2020-12-10 17:39] Archer2011 commented on #53
Thank you very much. I got it working, those were the steps:

[code]

[2020-12-18 14:52] rusty-snake opened #54 "fdns --proxies: Segmentation fault (core dumped) if /run/fdns is not present"
**STR:**
- If any fdns instances are running: stop them and delete `/run/fdns` (and maybe /dev/shm/fdns-* too).
- Run `fdns --proxies`
- See
[code]
- Create `/run/fdns` (`sudo mkdir /run/fdns`)
- Run `fdns --proxies` again
- See blank line -- no  segfault

[code]

[2020-12-18 15:08] rusty-snake opened #55 "*** stack smashing detected ***: terminated"
[code]

[code]

[2020-12-18 21:06] glitsj16 commented on #55
FWIW, the iriseden servers are no longer present in the git version. Did a quick test adding those from the 0.9.64 release and can reproduce. The same happens with iriseden2 but not with iriseden{,2}-dot.

In this regard it makes me wonder if seperately releasing an updated server file is a useful feature to add to fdns - if possible.

[2020-12-18 21:28] rusty-snake commented on #55
As long as the format didn't change, it's a simple wget/curl. We could add it like `sudo fdns --update-server-list`.

[2020-12-18 21:33] glitsj16 commented on #55
Much better way to implement it indeed!

[2020-12-19 08:57] rusty-snake opened #56 "Add a way to update /etc/servers"
From: https://github.com/netblue30/fdns/issues/55#issuecomment-748319346

---

AA prevents writing to /etc/fdns:
https://github.com/netblue30/fdns/blob/dcc0c0771e1a69d75c08a33c9ac985b11249ad29/etc/apparmor/usr.bin.fdns#L28

[2020-12-19 17:38] netblue30 commented on #52
Not a big deal, try it out! I called it "--blocklist" so we don't get into trouble. It blocks a full domain, so for example if you say "--blocklist=domain.com" it will actually block *domain.com.

[2020-12-19 17:43] netblue30 commented on #56
The guys at dnscrypt (https://github.com/DNSCrypt/dnscrypt-resolvers/tree/master/v3) are running something based on public/private key for their lists. Probably they keep the list on github and the private key is embedded in the program. I'll look into it.

[2020-12-19 17:47] netblue30 commented on #55
I think is coming from OpenSSL, but let's keep it open for now.

I've seen this on some other servers also, always when the connection fails. The crashed resolver process is restarted automatically in one or two seconds.

[2020-12-19 18:20] glitsj16 commented on #56
They use [minisign](https://github.com/jedisct1/minisign) and reference a cache file / minisign key in their configuration file tying things together. Quite nice actually.

[2020-12-21 14:23] trytip opened #57 "can't login DNS error for outlook.live.com"
1: using apt update on mint 19.3 will not work after fdns is loaded
2: outlook.live.com (microsoft outlook mail) dns error
3: github git command will not work after fdns is loaded

you can imagine how i bypassed verification code when the recovery email will not login just so that i can login to github for this issue

using developer fdns version 0.9.65 i had to add 1.1.1.1 as fallback works for a

[2020-12-21 17:57] rusty-snake commented on #57
Can you give some more detailed STR. How/Where did you "load" fdns? What git command? What error do you see (from apt,git,fdns,...)?

-----

Looks like a false positive in trackers:

https://github.com/netblue30/fdns/blob/361868c5b9e9924df480e7e43d11c0c3e8548705/etc/trackers#L189

[2020-12-22 04:18] trytip commented on #57
don't know what STR is. n where and how i load fdns according to the wiki https://github.com/netblue30/fdns/wiki/Download-and-Install

$ git clone https://github.com/netblue30/fdns
$ cd fdns
$ ./configure --prefix=/usr
$ make
$ sudo make install-strip
$ reboot

[2020-12-22 06:29] #57 closed

[2020-12-30 15:35] netblue30 commented on #56
The way we do it today: we start the proxy and test servers from the list at random in the geographical zone where the proxy is located (Asia-Pacific, Americas, Europe). We find two servers working, and pick the fastest one. If the first one responds in under 80 ms and it has a keepalive timer 110 seconds or higher, we don't bother with the second one.

So far we have:

* Europe: 99 servers
* Amer

[2021-02-15 19:40] rusty-snake opened #58 "Add a --pid-file options like dnsmasq for example"
Add a --pid-file options like dnsmasq for example. Presumable it's better to treat the argument as filename in `/run/fdns` rather then a path becuase of  the systemd/apparmor sandbox.

### Why?

In #51 was a discussion on how to start different fdns instances with block/whitelist for firejail sandboxes. However, stopping those instances is difficult, because you can not kill processes belonging to

[2021-02-24 08:12] MRF316 opened #59 "Firejail blocks bittorrent"
How do you configure firejail from interfering with bittorrent clients/ports being connectable? I had to remove all my symlinks.

[2021-02-24 10:43] rusty-snake commented on #59
Maybe `ignore netfilter`?

[2021-02-24 20:47] MRF316 commented on #59
Whenever I use the firecfg command it adds my bittorrent clients, is it possible to have firejail skip my bittorrent client? If I am seeding with qBittorrent or Transmission It shows that i'm not connectable when I check it at canyouseemedotorg...Is there a way to configure firejail so I can still have my clients in the sandbox without firejail interfering with my connectability? Hopefully this ma

[2021-02-24 20:49] rusty-snake commented on #59
[code]

[2021-02-24 21:11] MRF316 commented on #59
Are these 2 separate commands?

[2021-02-25 06:52] rusty-snake commented on #59
Yes

Everything in your home, no sudo.

`cat ~/.config/firejail/qbittorrent.local` should show `ignore netfilter`.

[2021-02-28 07:23] MRF316 commented on #59
Awesome! it works

cat ~/.config/firejail/qbittorrent.local should show ignore netfilter
**ignore netfilter
ignore netfilter**
cat: should: No such file or directory
cat: show: No such file or directory
cat: ignore: No such file or directory
cat: netfilter: No such file or directory

**Success: I can see your service on 97.******.222 on port (62000)
Your ISP is not blocking port 62000**

[2021-02-28 07:25] MRF316 commented on #59
My only concern is, FJ isn't protecting my client, should I be concerned?

[2021-02-28 10:18] rusty-snake commented on #59
What do you mean exatly?

-------

@ others should we remove `netfilter` from bittorent profiles?

[2021-03-21 22:05] MRF316 commented on #59
Sorry, I've been busy offline...
If FJ is ignoring netfilter, what is it protecting and not protecting?

[2021-03-22 09:26] rusty-snake commented on #59
Enable a default firewall if a new network namespace is created inside the sandbox.  *This option has no effect for sandboxes using the system network namespace.*
The default firewall is optimized for regular desktop applications. *No incoming connections are accepted*:

So as long as you don't use `net eth1` (or similar) it has no effect.

[2021-04-22 22:16] johnhtodd opened #61 "Update service ports for Quad9 DNS services"
Hello -
  We're happy that the various service types for Quad9 are included in your list of available DoH servers.  However, the service port shown in the servers configuration file is 5053, which is an unsupported port that was "pre-standard".  It may be deprecated at some point in the future, or rate-limited now or in the future in ways that cause unexpected results for your user base.  We would

[2021-04-24 17:57] Laurent092 opened #62 "FDNS available for other platform ?"
I own a pi4 with LIBREELEC and ask to netblue if an ARM version could be release for FDNS ?
Thanks.

[2021-04-26 13:28] netblue30 commented on #61
Fixed, thanks!

[2021-04-26 13:28] #61 closed

[2021-04-26 13:31] netblue30 commented on #62
I think it should work, I didn't try it yet. So far it works on both amd64 and intel 386. If you can compile on that platform, try it out. Seccomp could be a problem, but we can disable it (commenting out) for now.

[2021-04-26 13:34] netblue30 commented on #58
OK, I'll put a something in!

[2021-05-02 13:51] Laurent092 commented on #62
Tks netblue for FDNS that i use on all my computers with firejail.
I am sorry but i didn't have enough knowledge to be able to compile myself :(
I would like to install a central DNS server that i could use for Kodi and all my computers at home.
If it is not in your scope, no problem on my side to leave with it as FDNS is currently installed on all my computers ;)
Laurent.

[2021-05-05 12:55] netblue30 commented on #62
Hi @Laurent092

We would definitely like to have this supported on ARM, the only problem is we don't have access to some hardware. I'll look into getting a pi4, so I'll keep the issue open.

[2021-05-05 14:23] rusty-snake commented on #62
@netblue30 If cross-compiling isn't possible (IDK how good this works with openssl/libseccomp/...) you can have a look at `qemu-system-arm`

[2021-06-18 04:46] glitsj16 opened #63 "build from git master broken"
With https://github.com/netblue30/fdns/commit/3d616de78663ecf105a346dce7413dfbdb3edde2 I'm seeing ld errors and the build fails on Arch Linux.

[code]

<details>
<summary> build log </summary>

` ` `
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compi

[2021-06-20 01:03] netblue30 commented on #63
Could be something with the newer version of the linker (ldd)? Works fine here on Debian 10.

Try this: in src/fdns/Makefile.in on line 9 add a -lseccomp after -lrt something like this:
[code]

I think -lseccomp should have been added to $(LIBS) not to $(LDFLAGS).

[2021-06-20 11:32] glitsj16 commented on #63
Spot on! This fixes the build.

[2021-06-20 11:32] #63 closed

[2021-07-09 12:58] osevan opened #65 "Enhancement picking fastest proxy in the list -not only closest"
Dnscrypt do on every start response latancy  check, and pick the fastest one in the serverlist  - not.closest one.

Could you bring this function inside fdns?

Thanks and

Best regards

[2021-07-15 11:44] netblue30 commented on #65
We'll try to do something, but just be aware that what everybody measures is the access time from your computer to the server. How long it takes the server to bring in the response varies widely from server to server. So, you can have a 50ms server access time, and the server will take 2 more seconds to bring in the response.

In FDNS at startup we test the access time for two random servers and p

[2021-07-16 21:12] Dejan1969 opened #66 "Failed to start Firejail DoH Proxy Server on Raspberry PI (boot)"
I'm trying to set up fdns on raspberry pi 4 (ubuntu server 64) as network server. So far works great, but somehow it won't start on boot.
[code]
but work just fine with "sudo systemctl start fdns"
[code]
I have compile and install fdns as recomended (btw install fails to copy fdns.service to /etc/systemd/system/)
[code]
and using https://github.com/netblue30/fdns/blob/master/etc/fdns.service
with

[2021-07-16 21:14] Dejan1969 commented on #62
No problems compiling on PI4 with ubuntu server 64

[2021-07-17 06:39] rusty-snake commented on #66
What's the full log? `journalctl --boot --unit=fdns.service`

[2021-07-17 06:51] Dejan1969 commented on #66
user@pi:~$ sudo journalctl --boot --unit=fdns.service

[code]

[2021-07-17 06:57] Dejan1969 commented on #66
user@pi:~$ sudo journalctl --unit=fdns.service
[code]

[2021-07-18 10:25] Dejan1969 commented on #66
I have found workaround solution. Looks like fdns start before network is ready on Rapsberry PI.
Changing service type from simple to idle solve problems (for now).

[code]

[2021-07-20 19:00] rusty-snake commented on #66
Good to hear you found a workaround, however `idle` shouldn't be used for ordering (it's racey).
Does it work if you add an explicit `After=network-online.target` (`[Unit]`)? Are there any other targets or service in an aarch64 ubuntu server system that we should `Wants`/`After` for?

[2021-07-21 09:36] Dejan1969 commented on #66
"However idle shouldn't be used for ordering" Yeah I'm aware, but systemd is a real mess.

"After=network-online.target" didn't help, but at least I’ve figured it out  now... FDNS starts after network-online.target, but fails because Raspberry PI don't getting IP from my router in time.
Only other working solution was to use static IP and adding systemd-networkd-wait-online.service to fdns.service

[2021-07-21 10:59] rusty-snake commented on #66
I know this problem. Some time ago I wanted to run very simple updater script (just one wget) for an `/etc/hosts` blocklist after startup. It is awful that there is no way in systemd to start a unit once you are connected to "the internet".

[2021-07-21 23:04] osevan commented on #65
Can I run fdns inside firejail?

And /etc/resolve.conf to namesever 127.0.0.1:with different port as standard port?

[2021-07-22 05:46] rusty-snake commented on #65
https://github.com/netblue30/firejail/blob/master/etc/profile-a-l/fdns.profile

The format of `/etc/resolv.conf` is explained in `man 5 resovl.conf`. (spoiler: no)

For IPv4 IDC as you have a complete class A subnet. However for IPv6 you have only `::1`, if you need to use IPv6 for any reason, it can be annoying that there is no option to use an other port.

[2021-07-22 23:51] osevan commented on #65
I cant run fdns.without root user, because portion range is under 1024.

How I can run fdns as different user than root?
I need it for user rights hardening.

[2021-07-23 05:52] rusty-snake commented on #65
You can't. fdns requires root privileges in order to sandbox it's resolver processes.

https://github.com/netblue30/fdns/blob/dd69da49f43e13da7537d3944b1b0779fe452c7e/src/fdns/main.c#L407-L410

So you need to become root first, see #51 and https://github.com/rusty-snake/fdns4users.

[2021-07-23 21:58] MRF316 commented on #59
echo "ignore netfilter" >> **~/.config/firejail/qbittorrent.local**

I hope this is ok to ask in the same thread, cause it's basically the same issue but currently, i'm on Debian rather than Mint...I don't see the part that's bold in my quote, in my directories, so what command do I use to remedy my issue in Debian?

[2021-07-25 05:35] MRF316 commented on #59
**> How do you configure firejail from interfering with bittorrent clients/ports being connectable? I had to remove all my symlinks.**

I'm having the same issue on my Debian install.

[2021-07-26 14:26] rusty-snake commented on #66
FYI
https://raspberrypi.stackexchange.com/questions/78991/running-a-script-after-an-internet-connection-is-established#answer-117726
https://stackoverflow.com/questions/43001223/how-to-ensure-that-there-is-a-delay-before-a-service-is-started-in-systemd

[2021-07-27 03:07] MRF316 commented on #59
Should I make a new thread?

[2021-07-27 07:27] rusty-snake commented on #59
It is working, sure, and you can still manually create the file and add `ignore netfilter`.

[2021-07-28 01:54] MRF316 commented on #59
The only directory I see Firejail in Debian is **/etc/firejail** so would it be...
**mkdir ~/.etc/firejail echo "ignore netfilter" >> ~/.etc/firejail/qbittorrent.local???**

[2021-07-28 05:38] rusty-snake commented on #59
Which error do you get?

NO

[2021-07-28 05:43] MRF316 commented on #59
No error I don't see a firejail folder in ~/.config/, only in the /etc directory.

[2021-07-28 05:52] rusty-snake commented on #59
So this is how it looks like on your system?
[code]

[2021-07-28 06:21] MRF316 commented on #59
Now I have a firejail directory in...**/home/family/.config/firejail**

[2021-08-01 07:00] MRF316 commented on #59
Sorry. It finally clicked in my Brain that all i'm doing is creating a new directory (mkdir) and then using the command you supplied in your original reply.
I'm still learning Linux commands. Thanks for the help!

[2021-08-05 08:46] osevan commented on #65
could you remove this id 0 if and else?

because dnscrypt-proxy runs well in firefail with non root user when your port range is above 1024.

could you remove this too?

thanks and

best regards

[2021-08-05 08:53] osevan commented on #65
Not in my case from Europe, for me is libredns fastest response lower responserate than Cloudflare doh.

[2021-08-05 10:39] rusty-snake commented on #65
This is not dnscrypt-proxy.

I think we should add something like a `--port=5353` option.

Removing the check that displays a error message does not make things work if

[2021-09-19 20:30] Futureknows opened #68 "Fedora: "Failed to enable unit: Unit file fdns.service does not exist.""
What is the simplest way to automatically run FDNS at boot in Fedora?
The [instructions](https://github.com/netblue30/fdns/wiki/Starting-the-Proxy) don't work on F34 here:

[code]

[2021-09-20 05:31] rusty-snake commented on #68
Well, you need to add fdns.service to systemd. You can not enable a unit that systemd isn't aware of. How did you installed fdns?

[2021-09-20 05:35] rusty-snake commented on #68
If `/etc/systemd/system/fdns.service` or `/usr/lib/systemd/system/fdns.service` exist when you execute `systemctl enable fdns.service`, you need to tell systemd first that it exists. Either restart your system run execute `systemctl daemon-reload`.

[2021-09-20 16:10] Futureknows commented on #68
rpmbuild wasn't in the Fedora 34 repo so I compiled from git.
I presume that's the problem, I'll get rpmbuild and follow the Fedora
script.
Thanks

On Sun, Sep 19, 2021 at 10:36 PM rusty-snake ***@***.***>
wrote:

[2021-09-20 19:18] rusty-snake commented on #68
[code]

[2021-09-20 22:42] #68 closed

[2021-12-24 08:55] GFNIAE opened #69 "fdns not working with connman"
Hello,

I use fdns on antiX Linux 21 with runit as a init process, and connman as a connection manager. Standard "sudo fdns --daemonize" then "firejail dns=127.1.1.1 palemoon" works well, and "fdns --monitor" let see the name resolution working.

However on MX Linux 21, I cannot get this working. I added "--nodnsproxy" for connmand options. "sudo fdns" shows this kind of output :
`fdns starting
co

[2021-12-24 13:52] GFNIAE commented on #69
Hello again, I have found that fdns runs OK if I don't use --net=wlan0 as a firejail option (it was in my ~/firejail/globals.local options file).

So my issue should be changed : is there a way to use fdns as DNS proxy, and network isolation through "net" option in firejail ? Or should I choose one of them ? I believe that "net" option in firejail is great to isolate network and be sure that your

[2021-12-26 20:43] GFNIAE commented on #69
Hello,
I found a way to achieve my goal (network isolation with firejail --net=... option, and DoH through fdns) :
- start your app with firejail --name=myname --net=wlan0 palemoon
-  then start fdns from inside the firejail sandbox :
sudo firejail --join=myname fdns --daemonize

But that's not very handy, since you have to use sudo to launch an "every" app.
WIthout that, fdns listens on 127.1.1.1

[2021-12-29 20:18] rusty-snake commented on #69
OT

https://github.com/rusty-snake/fdns4users#alternatives

[2021-12-29 21:53] GFNIAE commented on #69
Thanks rusty-snake for the link ! That's obviously what I needed.

I found another useful way to start fdns : I wrote a "/usr/bin/fdns --dameonize" file in /etc/network/if-up.d
That launches fdns when the network is up, which is nice. That way I don't need to add a command when I launch an app through fdns, and I don't need sudo as well. Of course I have only one fdns running with one port availab

[2022-01-29 17:33] TmrwBg opened #70 "fdns resolver processes getting killed by seccomp - syscall 270 (pselect6)"
Hello,

this issue appeared after a recent update to my system (bullseye). When I start fdns, it gets instantly killed by seccomp. How can I solve this issue? I've noticed that similar issue appeared about 1.5 h earlier to on archlinux, but solution doesn't seem to work for me.

[code]
Grateful for any help

[2022-01-29 17:39] rusty-snake commented on #70
Update fdns.

Fixed by #60.

[2022-02-04 14:52] trytip opened #71 "fdns too many in-addr.arpa (PTR), dropped"
hello, i use fdns version 0.9.67 built yesterday 2-3-2022 on Linux Mint Cinnamon 19.3
since a few days ago i am receiving much more dropped reverse lookup i believe they are.
please forgive my github non-protocol if i do not post the info needed.

needless to say is this normal?  2 minutes after i get on the internet from a fresh boot i get this:
`127.1.1.1 ahadns-westus-dot ENCRYPTED (DoT 34.85 m

[2022-05-26 23:50] #71 closed

[2022-07-14 00:53] arankaren commented on #70
Same issue on linux-lts 5.15.54, please support for linux-lts 5.15.54

[2022-07-18 02:55] arankaren commented on #70
I already have the latest version 0.9.68, but this does **not work**

[code]

[code]

#### `cat /etc/fdns/resolver.seccomp` output:

[code]

[2022-07-18 07:15] rusty-snake commented on #70
Are you sure it's the _same_ issue and not a similar one? Did you checked that it is `pselect6`?

[2022-07-24 09:56] emdete commented on #47
i use `dig` to test the setup, so a @... is exactly *not* what i want to do... ;)

do you know a way to tell dig to do request that `fdns` would not filter out? maybe that should be documented as well?

[2022-08-09 09:48] stevie27 opened #73 "linux mint 21"
new rather limited technically person

On installing mint 21 upgrade when trying to open sudo fdns get error message cannot open because libssl.so.1.1 is missing. I have tried upgrading and saving  both fdns and libssl.so.1.1 as an orphan package, uninstalling before upgrade and doing a totally clean install after upgrade but the same message appears. Cannot find any way to reinstall libssl.so.1.1

[2022-08-09 19:05] emdete opened #74 "creative commons redirects to a domain listed in adblocker"
The adblocker file lists `licensebuttons.net` which seems to be used to display for example creative commons icons like [https://i.creativecommons.org/l/by-sa/4.0/80x15.png](https://i.creativecommons.org/l/by-sa/4.0/80x15.png). Requests to PNGs are redirected to that domain. Why is the domain in the adblocker list?

[2022-10-08 08:54] MandiYang opened #75 "Add support for libssl 3?"
I am using Ubuntu 22.04 which has replaced libssl1.1 with libssl3 , Considering adding support for libssl3?

[2022-11-17 21:03] astounds commented on #70
APKBUILD

[code]

Maybe

[code]

Logs compilation

[code]

[2022-11-17 21:34] astounds opened #77 "fdns resolver process 0 killed by seccomp - syscall 11 (munmap)"
[code]

[code]

[code]

[code]

[2022-11-18 11:42] rusty-snake commented on #77
You can open a PR and add it to https://github.com/netblue30/fdns/blob/master/etc/resolver.seccomp (the line is sorted alphabetically).

[2022-11-25 15:47] emdete commented on #47
its not only dig that does it, go seems to suffer from that too:

main.go:29:2: maunium.net/go/mauflag@v1.0.0: Get "https://proxy.golang.org/maunium.net/go/mauflag/@v/v1.0.0.zip": dial tcp: lookup proxy.golang.org on 127.0.0.1:53: read udp 127.0.0.1:48660->127.0.0.1:53: i/o timeout

(with corresponding logs from fdns). why does fdns drop such requests?